---
// https://thezal.dev/article_giscus_astro/
// https://giscus.app/zh-CN
// please input your own giscus app info
---
<section class="giscus mx-auto">

<script src="https://giscus.app/client.js"
        data-repo="waystowork/shici"
        data-repo-id="R_kgDOOP9NKQ"
        data-category="Announcements"
        data-category-id="DIC_kwDOOP9NKc4CoiY8"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="1"
        data-input-position="top"
        data-theme="light"
        data-lang="zh-CN"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>

</section>
